
<!--
  git add .
git commit -m "message you wanna write"
git push

-->




<!--
  Header is made using components of Bootstrap
  Some of the navbar code found from the "Fixed Navbar" section of this page: https://mdbootstrap.com/docs/standard/navigation/headers/
  Additionally, some code for the icon is found from https://getbootstrap.com/docs/4.3/components/navbar/
-->
<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #2214a0;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://i.imgur.com/YEEmsv9.png" width="30" height="22" class="d-inline-block align-top" alt="">
        Memorly
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Card Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Browse Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>

          
        </ul>
        <ul class="navbar-nav mb-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign up</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>

  
  <div class="p-5 text-center bg-light" style="margin-top: 58px;">
    <h1 class="mb-3">Welcome to our CEN3031 Project!</h1>
    
  </div>
</header>


<section>


  <!--
  Flashcard modal
  Made using Angular Material components
  -->

  
<!--  <br>
  <h1 style="text-align:center">Welcome to our CEN3031 Project!</h1>

  <h2 style="text-align:center">Please enter contents of flash card below:</h2> -->

<div class="main-div">
  <td style="text-align: center">
  <mat-card style="height:120%">
    <mat-card-title style = "text-align: center;">
      <br>
      Create new flashcard
      <br>
    </mat-card-title>
      
    <mat-card-content style = "text-align: center;"> 
      <br>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Input front text</mat-label>
        <input matInput placeholder="Enter text">
      </mat-form-field>
      
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Input back text</mat-label>
        <input matInput placeholder="Enter text">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions > 

      <button mat-raised-button style="text-align: center">Enter info</button>
    </mat-card-actions>
  </mat-card>
</div>


  <!--
  <div class="Enter">
    <button mat-raised-button color="accent" style="display: inline;">Enter</button>
  </div>
  -->
</section>

