
<!--

<head>
  <meta charset = "utf-8" />
    
  <title>
      Memorly icon
  </title>
    
  
  <link rel = "icon" href = 
"https://i.imgur.com/YEEmsv9.png" 
  type = "image/x-icon">
    
</head>
-->

<!--
<head>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
-->

<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #2214a0;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://i.imgur.com/YEEmsv9.png" width="30" height="22" class="d-inline-block align-top" alt="">
        Memorly
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Card Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Browse Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>

          
        </ul>
        <ul class="navbar-nav mb-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign up</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>

  
  <div class="p-5 text-center bg-light" style="margin-top: 58px;">
    <h1 class="mb-3">Welcome to our CEN3031 Project!</h1>
    
  </div>
</header>


<section>
<!--  <br>
  <h1 style="text-align:center">Welcome to our CEN3031 Project!</h1>

  <h2 style="text-align:center">Please enter contents of flash card below:</h2> -->

<div class="main-div">
  <td style="text-align: center">
  <mat-card style="height:120%">
    <mat-card-title style = "text-align: center;">
      <br>
      Create new flashcard
      <br>
    </mat-card-title>
      
    <mat-card-content style = "text-align: center;"> 
      <br>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Input front text</mat-label>
        <input matInput placeholder="Enter text">
      </mat-form-field>
      
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Input back text</mat-label>
        <input matInput placeholder="Enter text">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions > 

      <button mat-raised-button style="text-align: center">Enter info</button>
    </mat-card-actions>
  </mat-card>
</div>


  <!--
  <div class="Enter">
    <button mat-raised-button color="accent" style="display: inline;">Enter</button>
  </div>
  -->
</section>



<!--


<section>
  <h3>Welcome to our CEN3031 Project!</h3>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Input type text</mat-label>
    <input matInput placeholder="Enter textarea">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">

    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Ex. pat@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
  </mat-form-field>

  <div class="search">
    <mat-form-field appearance="outline" class="search">
      <mat-label>Input type search</mat-label>
      <input type="search" matInput style="display: inline;">
    </mat-form-field>
    <button mat-raised-button color="accent" style="display: inline;">Search</button>
  </div>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Color</mat-label>
    <input type="color" matInput value="#f6b73c">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Input type Password</mat-label>
    <input type="password" matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Input type number</mat-label>
    <input type="number" matInput min="10" max="100">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Input type tel</mat-label>
    <input type="tel" matInput id="phone" name="phone" placeholder="Enter mobile number">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Input type url</mat-label>
    <input type="url" matInput name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="30">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Text area</mat-label>
    <textarea matInput rows="4" placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Input type time</mat-label>
    <input type="time" matInput name="week" min="09:00" max="18:00">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Input type week</mat-label>
    <input type="week" matInput name="week" id="camp-week" min="2021-W18" max="2021-W26">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Input type month</mat-label>
    <input type="month" matInput min="2021-11" value="2022-05">
  </mat-form-field>
  
</section>
-->