.center{
    width: 75%;
    margin: 10px auto;
  }

  .main-div{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .align-center {
    flex: 1 1 auto;
  }