


<section>
  
  
    

  <div class="main-div">
    <td style="text-align: center">
        <mat-card [style.width.px]=500 [style.height.px]=250>
        
        <!--Bootstrap component for spacing between elements-->
        <div class="d-grid gap-2">
      <mat-card-title>
        <br>
        Create new flashcard
      </mat-card-title>
        
      
      <mat-card-content> 
        <br>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Input front text</mat-label>
          <input matInput placeholder="Enter text">
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Input back text</mat-label>
          <input matInput placeholder="Enter text">
        </mat-form-field>
      </mat-card-content>
      
  
      
      <mat-card-actions > 
  
        <div class ="align-center">
          <button mat-raised-button>Add card</button>
  
        </div>
      </mat-card-actions>
    </div>
    </mat-card>
  </div>
  
  
  </section>
