<!--





<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username['errors']['required']">Username is required</div>
          <div *ngIf="username['errors']['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username['errors']['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email['errors']['required']">Email is required</div>
          <div *ngIf="email['errors']['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password['errors']['required']">Password is required</div>
          <div *ngIf="password['errors']['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>


-->


<!--Login form with show/hide password, found at https://nitishkaushik.com/show-hide-password-in-angular-with-angular-material/

Some code for password requirements, authentication, etc found at https://www.bezkoder.com/angular-12-jwt-auth/
-->

<div class="space">
  <div class="p-4 text-center bg-light" style="margin-top: 100px;">
      <mat-card-title style = "text-align: center;">Enter your email and create a username and password to regsiter your account:</mat-card-title>
     
  </div>
  </div>

<mat-card>
<form class="login-form">
    
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="username" name="username" id='username' (keyup)="onKey($event, 'username')" #username>
    </mat-form-field>
    <p *ngIf="!isUsernameValid" class="text-red-500 text-xs italic">Username can only have letters and numbers!</p>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" id='email' (keyup)="onKey($event, 'email')" #email>
    </mat-form-field>
    <p *ngIf="!isEmailValid" class="text-red-500 text-xs italic">Invalid Email address!</p>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" name="password" id='password' (keyup)="onKey($event, 'password')" #password>
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{showPassword?'visibility_off':'visibility'}}
        </mat-icon>
    </mat-form-field>
    <button mat-raised-button type="button" color="primary" (click)="signUp(email.value, password.value, username.value)">Sign Up</button>
    
    
</form>
</mat-card>



<!--
<section>

    <div class="main-div">
      <td style="text-align: center">
      <mat-card [style.width.px]=500 [style.height.px]=400>
        
        <div class="center">
            <div class="d-grid gap-2">
        <mat-card-content style = "text-align: center;"> 
          
          <mat-form-field class="example-full-width" appearance="outline" [style.width.px]=327>
            <mat-label>Email</mat-label>
            <input matInput placeholder="">
          </mat-form-field>
          
        </mat-card-content>

        <mat-card-content style = "text-align: center;"> 
          
            <mat-form-field class="example-full-width" appearance="outline" [style.width.px]=327>
              <mat-label>Username</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            
          </mat-card-content>
        <mat-card-content style = "text-align: center;"> 
          <mat-form-field class="example-full-width" appearance="outline" [style.width.px]=327>
              <mat-label>Password</mat-label>
              <input matInput placeholder="">
          </mat-form-field>
        </mat-card-content>
        
        <mat-card-actions > 
    
          <div class ="align-center">
            <button mat-raised-button style="text-align: center" [style.width.px]=200>Create Account</button>
    
          </div>
        </mat-card-actions>
        </div>
        </div>
      </mat-card>
      
    </div>
    
    
    </section>
  -->