mat-card-content {
    justify-content: center;
    display: flex;
}

.center{
    width: 75%;
    margin: 30px auto;
  }

  .main-div{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .align-center {
    flex: 1 1 auto;
  }

  .login-form{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.space{
    height: 100px;
    
  }